<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <servlet-name>DoorService</servlet-name>
    <servlet-class>print.DoorService</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DoorService</servlet-name>
    <url-pattern>/DoorService</url-pattern>
  </servlet-mapping>
  
	<listener>
    	<listener-class>print.PreloadListener</listener-class>
	</listener>

</web-app>